
@font-face {
    font-family: 'sab';
   src:  url('font/Sabon\ Roman\ Small\ Caps\ &\ Oldstyle\ Figures.ttf') ;
}
body{
    margin: 0;
    padding: 0;
    background-color: #151515 !important;
    font-family: 'sab';
}

   
.table{
    margin-top: 7rem;
    background-color: #141414;
    
}
tbody{
    color: #959698;
}
thead{
    color: #E1A95F;
}
.form-inline{
    margin-top: 300px;
}
.container .para-test{
  margin-top:12rem !important;
  color: #E1A95F;
  font-size: 32px;
}

.form-control{
    /* margin: 0px 50px; */
    background: none!important;
    border-bottom: 1px solid #E1A95F !important;
    border: none;
    border-radius: 0px;
   
}
.form-control::placeholder{
    color: #E1A95F;
    opacity: .3;
    font-size: 11px;
    letter-spacing: 2px;
   
}
.btnfos-4{
  background: none;
}
.btncpm{
   border-radius: 0px;
    background-color: none !important;
    border: 1px solid #E1A95F !important;
    color: #E1A95F !important;
    font-size: 11px !important;
    /* margin-left: 115px; */
    height: 40px;
}

  .sec-footer .box-footer{
      margin-top: 150px;
  }
.text-footer{
    color: #B2BEBE;
     font-size: 18px;
     letter-spacing: 1px;
     margin-left: 25px;

  }
  .text-footer:hover{
    color: #E1A95F;
    text-decoration: none;
  }
  
      .para2{
        margin-top: 20px;
        color: #959698;
        letter-spacing: 2px;
       
      }
  
      i{
        margin-top: 25px;
        color: #959698;
        font-size: 20px;
      }
      .icons  i {
        margin: 50px 20px 20px;
        color: #959698;
        font-size: 30px;
        color: #959698;
      }
  
      .icons  i:hover{
        color: #5f5f5f;
        cursor: pointer;
      }

/*--------------------------------------------------------------media screen-min-576px---------------------*/
@media screen and (max-width:576px){

  .table{
    font-size: 11px ;
    
}
}

/*--------------------------------------------------------------media screen-max-576px---------------------*/
@media screen and (min-width:576px){
  .table{
    font-size: 11px ;
    
}
}

/*--------------------------------------------------------------media screen-768---------------------*/
@media screen and (min-width:768px){
  .table{
    font-size: 14px ;
    
}
  
}

/*--------------------------------------------------------------media screen-992---------------------*/
@media screen and (min-width:992px){
  .table{
    font-size: 14px ;
    
}
    
}


/*--------------------------------------------------------------media screen-1200---------------------*/
@media screen and (min-width:1200px){
  .table{
    font-size: 18px ;
    
}
}