
@font-face {
  font-family: 'sab';
 src:  url('font/Sabon\ Roman\ Small\ Caps\ &\ Oldstyle\ Figures.ttf') ;
}
html, body {
  position: relative;
  height: 100%;
  font-family: 'sab';
}
body {
  background-color: #151515;
  margin: 0;
  padding: 0;
}


.text-header{
  font-size: 35px;
  letter-spacing: 2px;
  color:  #E1A95F ;
  margin-top: 12rem;
}
.text-header span{
  font-size: 26px;
  letter-spacing: 2px;
  color:  #E1A95F ;
  opacity: .5 ;
 
}

/*----------------------------------------body video-------------------------------*/
.video-top{
  width: 100%;

}
.video-bottom{
width: 25%;
}
video{
  cursor: pointer;
}
/*----------------------------------------body video-------------------------------*/

.carousel-item img{
  /* height: 500px !important; */
  object-fit: cover;
  object-position: center center;
}
.carousel-indicators li img{
  /* height: 100px !important; */
  object-fit: cover;
  object-position: center center;

}